html {
	font-family: 'Roboto', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	}


h1 {
	text-decoration:underline;
	text-decoration: none;
	text-align:center;
	color: #FAED25;
}

p {
	text-align:center;
}

a {
	text-decoration: none;
}

.box-shadow:hover {
	box-shadow: 1px 1px 15px  silver;
}

#left{
	font-family:Verdana;
}

#right{
	font-family:Courier;
}

#update2{
	width:50%;
	margin:auto;
	word-wrap: word-break;
	text-align:center;
}

#update1{
	width:50%;
	margin:auto;
	word-wrap: word-break;
	text-align:center;
}

.options-container {
	width: 90%;
	margin: 0 auto;
}

.main-option {
	display: block;
	height: 75px;
	min-width: 75px;
	width: 30%;
  margin-left: 1%;
	background-color: #FAED26;
	color: grey;
	border-right: 2px black solid;
	padding-top: 20px;
	text-align: center;
	font-size: 17px;
	border-radius: 30px;
	float: left;
}

.main-option:hover {
	box-shadow: 2px 2px grey;
	inner-shadow: 1px 2px grey;
	border: 1px white solid;
}



.title-content {
	margin-top: 40px;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	text-align: center;
	color: #FAED26;
	margin-bottom: 40px;
}

.title-content p {
	color: blue;
	font-size: 19px;
}

.title-content:hover {
	font-size: 26px;
	text-shadow:1px 1px 1px 21px silver;
}


.local-content {
	width: 80%;
	height: 110%;
}


.skills ul {
	font-family: 'Roboto', sans-serif;
	list-style: none;
	float: right;
	margin-top: 35px;
	margin-right: 35px;
}
.skills li {
	font-size: .9em;
}

.li-header {
		font-family: 'Roboto', sans-serif;
		color: grey;
}
