body {
	background-color: #90afc5;
	}


h1 {
	text-decoration:underline;
	text-decoration:bold;
	text-align:center;
}

p {
	text-align:center;
}

a {
	text-decoration: none;
}

.box-shadow {
	box-shadow: 2px 1px 6px 2px black;
}

#left{
	font-family:Verdana;
}

#right{
	font-family:Courier;
}

#update2{
	width:50%;
	margin:auto;
	word-wrap: word-break;
	text-align:center;
}

#update1{
	width:50%;
	margin:auto;
	word-wrap: word-break;
	text-align:center;
}

.main-option {
	display: block;
	color: black;
	height: 100px;
	background-color: #2A3132;
	color: white;
	border-right: 2px black solid;
	margin-bottom: 15px;
	padding-top: 20px;
	text-align: center;
	font-size: 20px;
	border-radius: 45px;
}

.main-option:hover {
	box-shadow: 2px 2px grey;
	background-color: silver;
	border: 1px white solid;
	border-radius: 5px;
}

.local-content {
	width: 80%;
}
