body {
  margin: 0;
  padding: 0;
  background-color: lightgrey;
}

.content {
}

#grid {
  margin: 0 auto;
  height: 350px;
  width: 350px;
  background-color: black;
}

#myBtn {
  float:left;
}


.cell-unvisited {
  background-color: white;
}

.cell-visited {
  background-color:white;
}

.header {
  background-color: navy;
  color: white;
  width: 100%;
  margin: 0 auto;
  height: 20%;
  text-align: center;
}
